
on:
  push:
    branches:
      - master
  repository_dispatch:
    types: [test workflow]
  workflow_dispatch:

env:
  IMAGE_REPO: containers.intersystems.com/intersystems
  IMAGE_NAME: iris-community
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        tag:
          - latest-em
          - latest-cd
          - latest-preview
        platform:
          - ubuntu-24.04
          - ubuntu-24.04-arm
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Pull image
        run: |
          uname -a
          docker pull ${{ env.IMAGE_REPO }}/${{ env.IMAGE_NAME }}:${{ matrix.tag }}
          version=$(docker image inspect ${{ env.IMAGE_REPO }}/${{ env.IMAGE_NAME }}:${{ matrix.tag }} --format '{{index .Config.Labels "com.intersystems.platform-version"}}' | cut -d'.' -f1-2)
          hash=$(docker images ${{ env.IMAGE_REPO }}/${{ env.IMAGE_NAME }}:${{ matrix.tag }} --no-trunc -q)
          echo "Platform version: $version"
          echo "Image hash: $hash"
      - name: Build IRIS Light image
        run: ./make.sh ${{ env.IMAGE_REPO }}/${{ env.IMAGE_NAME }}:${{ matrix.tag }} caretdev/${{ env.IMAGE_NAME }}

  merge_platform_containers:
    name: Merge Platform Containers
    runs-on: ubuntu-latest
    needs: build
    strategy:
      fail-fast: false
      matrix:
        tag:
          - latest-em
          - latest-cd
          - latest-preview
    steps:
      - name: Merge
        run: echo demo